@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(45, 45, 45, .8), rgba(45, 45, 45, .8)),
        url(../img/contact-bg.jpg);
    color: #fff;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'Staatliches', cursive;
}


p {
    font-family: 'Roboto', sans-serif;
}

/* Buttons */

.btn:link,
.btn:visited {
    font-size: 150%;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px;
    display: inline-block;
}

.btn-noticia:link,
.btn-noticia:visited {
    font-size: 100%;
    text-decoration: none;
    padding: 10px 60px;
    margin: 20px 30px;
    display: inline-block;
}

.btn-full:link,
.btn-full:visited {
    border: 2px solid #fff;
    color: #fff;
    transition: ease all .3s;
}

.btn-full:hover,
.btn-full:active {
    background-color: #fff;
    color: #000;
    transition: ease all .3s;
}

h1 {
    display: none;
}

h2 {
    font-size: 350%;
    color: #fff;
}

/* Header Section */

.header-section {
    background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .5)),
        url(../img/header-bg2.jpg);
    background-size: cover;
    border-bottom: 5px solid #fff;
    display: flex;
    justify-content: center;
}

.header-box {
    height: 88vh;
    background-image: linear-gradient(rgba(45, 45, 45, .4), rgba(0, 0, 0, 1)),
        url(../img/header-bg.jpg);
    background-size: cover;
    background-position: 0% 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* Navigation */
.navegacion {
    width: 50vw;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px 0;
}

.navegacion i {
    font-size: 200%;
    margin-left: 20px;
    color: #fff;
}

.logo {
    height: 10.5vh;
    margin-right: 6.6vw;
}

.navegacion ul {
    list-style: none;
}

.menu {
    width: 8.6vw;
    text-align: left;
    z-index: 999;
}

.menu>li {
    position: relative;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.social {
    transform: scale(1);
    margin-bottom: 5px;
    transition: ease all .3s;
}

.social:hover {
    transform: scale(1.15);
    color: #dba520;
    transition: ease all .3s;
}

.menu li a:hover {
    background-color: #dba520;
    color: #000;
}



.sticky-nav {
    position: fixed;
    background-color: rgba(20, 20, 20, .8);
    width: 100vw;
    margin: 0;
    z-index: 999;
    border-bottom: 1px solid #fff;
    box-shadow: 0 2px 2px #fff;
}

.sticky-nav i {
    display: none;
}

.sticky-nav li a i {
    display: inline;
}

.sticky-nav .logo {
    margin-right: 55.5vw;
    margin-bottom: 5px;
    height: 30px;
}

.sticky-nav .menu {
    margin-right: 13vw;
}

/* Submenu */

.submenu {
    position: absolute;
    background: rgba(20, 20, 20, 1);
    width: 100%;
    display: none;
    text-align: left;
    z-index: 999;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}

/* Discografia Section */

.discografia-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
}

.discografia-text {
    margin-bottom: 10px;
}

.discografia-text h2 span {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.discografia-categoria {
    font-size: 130%;
    margin-top: 40px;
    text-align: center;
}

.categoria-input {
    margin: 5px;
}

#todo,
#solista,
#megadeth,
#cacophony {
    opacity: 0;
}

#todo:checked~.todo,
#solista:checked~.solista,
#megadeth:checked~.megadeth,
#cacophony:checked~.cacophony,
.categoria-input:hover {
    color: #dba520;
    transition: ease all .3s;
}

#solista:checked~.albumes .megadeth,
#solista:checked~.albumes .hawaii,
#solista:checked~.albumes .cacophony {
    display: none;
}

#megadeth:checked~.albumes .mf,
#megadeth:checked~.albumes .hawaii,
#megadeth:checked~.albumes .cacophony {
    display: none;
}

#cacophony:checked~.albumes .megadeth,
#cacophony:checked~.albumes .hawaii,
#cacophony:checked~.albumes .mf {
    display: none;
}

.discografia-box {
    background-color: #141414;
    width: 70vw;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 1px 1px 15px 0 #000;
}

.albumes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.discografia-imagen {
    margin: 30px 30px 0px 0px;
    width: 22rem;
    height: 22rem;
    opacity: .5;
    transition: ease all .3s;
}

.discografia-imagen:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: ease all .3s;
}

/* Galeria */

.galeria-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
}

.galeria-text {
    margin-bottom: 10px;
}

.galeria-text h2 span {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}


.galeria-box {
    background-color: #141414;
    width: 70vw;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 1px 1px 15px 0 #000;
}

.galeria-container {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

.galeria-imagen {
    height: 250px;
}

.galeria-imagen img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transform: scale(1);
    transition: ease all .3s;
}

.galeria-imagen img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    transition: ease all .3s;
}

/* Videos Section */

.videos-section {
    border-top: 1px solid #fff;
}

.videos-section p {
    text-align: center;
    margin: 25px;
}

.videos-section h2 {
    text-align: center;
    margin-top: 100px;
}

.videos-section iframe {
    text-align: center;
    margin: 20px;
    margin-left: 40px;
}

/* Noticias Section */

.noticias-section {
    border-top: 1px solid #fff;
    text-align: left;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)),
        url(../img/noticias-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.noticias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.noticia-imagen {
    width: 250px;
    height: 200px;
}

.noticias-heading {
    margin-bottom: 50px;
    margin-top: 150px;
    text-align: center;
}

.noticias-section span {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.noticias-box {
    background-color: #141414;
    width: 290px;
    height: 430px;
    padding: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 100px;
    border: 1px solid #000;
    box-shadow: 1px 1px 15px 0 #000;
    transition: ease all .3s;
}


.noticias-box p {
    margin: 10px 0px;
}

.noticias-box:hover {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 15px 0 #ccc;
    transform: scale(1.05);
    transition: ease all .3s;
}

/* Contact Section */

.contact-section {
    border-top: 1px solid #ccc;
    text-align: center;
    padding-bottom: 150px;
    background-image: linear-gradient(rgba(45, 45, 45, .8), rgba(45, 45, 45, .8)),
        url(../img/contact-bg.jpg);
    background-size: cover;
}

.contact-heading {
    margin-top: 150px;
    margin-bottom: 100px;
}

.contact-heading span {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.contact-form {
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.send-button,
.reset-button {
    padding: 10px;
}

/* Footer */

footer {
    background-color: rgba(27, 27, 27, .3);
    border-top: 1px solid #ccc;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    height: 50px;
    margin-right: 8vw;
}

/* Responsive */

@media only screen and (max-width: 1400px) {
    body {
        font-size: 15px;
    }
    /* Navigation */
    .navegacion .menu {
        width: 10vw;
    }

    .navegacion .social-box {
        width: 15vw;
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 13px;
    }

    /* Navigation */
    .navegacion .menu {
        width: 12vw;
    }

    .logo {
        height: 10vh;
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 1024px) {
    body {
        font-size: 12px;
    }

    /* Navigation */
    .navegacion .menu {
        width: 14vw;
    }

    .logo {
        height: 8vh;
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 768px) {
    body {
        font-size: 10px;
    }

    p,
    label {
        font-size: 14px;
    }

    /* Navigation */
    .navegacion .menu li a span {
        display: none;
    }
    .navegacion .menu {
        width: 14vw;
    }

    .navegacion .social-box {
        width: 20vw;
    }

    .logo {
        height: 8vh;
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (max-width: 480px) {

    /* Home */
    .titulo {
        font-size: 200%;
        display: block;
        text-align: center;
    }
    body {
        font-size: 10px;
    }

    p,
    label {
        font-size: 14px;
    }

    /* Navigation */
    .navegacion {
        width: 80vw;
    }

    .sticky-nav {
        width: 100vw;
    }

    .navegacion .menu li a span {
        display: none;
    }

    .navegacion .menu {
        width: 17vw;
    }

    .navegacion .social-box {
        width: 30vw;
    }

    .logo {
        height: 7vh;
    }
    /* Noticias Section*/
    .noticias-box {
        width: 260x;
        height: 390px;
    }

    /* Discografia Section*/
    .discografia-imagen {
        width: 14rem;
        height: 14rem;
        margin: 10px 10px 0px 0px;
    }
    
    /* Footer */
    footer {
        padding: 20px 0px;
    }

    footer p{
        font-size: 110%;
    }

    .logo-footer {
        height: 30px;
        margin-right: 0vw;
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
