@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}

body {
    background-image: linear-gradient(rgba(45, 45, 45, .8), rgba(45, 45, 45, .8)),
        url(../img/contact-bg.jpg);
    color: $blanco;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

h1 {
    display: none;
}

h2 {
    font-size: 350%;
    color: $blanco;
}

p {
    font-family: 'Roboto', sans-serif;
    color: $blanco-texto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blanco;
}

/* Buttons */

.btn {
    &:link {
        font-size: 150%;
        padding: 10px 30px;
        margin: 20px;
        border-radius: 5px;
        display: inline-block;
        animation: bounceIn;
        animation-duration: 2s;
        animation-delay: 1s;
    }

    &:visited {
        font-size: 150%;
        padding: 10px 30px;
        margin: 20px;
        border-radius: 5px;
        display: inline-block;
        animation: bounceIn;
        animation-duration: 2s;
        animation-delay: .2s;
    }
}

.btn-noticia {
    &:link {
        font-size: 120%;
        width: 100%;
        text-align: center;
        padding: 10px 60px;
        margin: 20px 30px;
        display: inline-block;
        letter-spacing: 1px;
    }

    &:visited {
        font-size: 120%;
        width: 100%;
        text-align: center;
        padding: 10px 60px;
        margin: 20px 30px;
        display: inline-block;
        letter-spacing: 1px;
    }
}

.btn-full {
    &:link {
        border: 2px solid $blanco;
        color: $blanco;
        transition: ease all .3s;
    }

    &:visited {
        border: 2px solid $blanco;
        color: $blanco;
        transition: ease all .3s;
    }

    &:hover {
        background-color: $blanco;
        color: $negro;
    }

    &:active {
        background-color: $blanco;
        color: $negro;
    }
}