@import "./variables";
@import "./mixins";

// Hero Section 

.encabezado {

    &__box {
        height: 93vh;
        background-image: linear-gradient(rgba(45, 45, 45, .4), rgba(0, 0, 0, 1)),
        url(../img/header-bg.jpg);
        background-size: cover;
        background-position: 0% 22%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3.125rem;

        &--text {
            animation: zoomInUp;
            animation-duration: 1.5s;
            text-align: center;
        }
    }

}

// Noticias Section Index

.noticias-index {
    border-top: $borde-blanco;
    text-align: left;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .8)),
    url(../img/noticias-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &__heading {
        margin-bottom: 3.125rem;
        margin-top: 9.375rem;
        text-align: center;

        &--span {
            @include borde-h2;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        @include laptop-l {
            flex-wrap: wrap;
        }

        &--box {
            background-color: #121212;
            width: 27rem;
            height: 32rem;
            padding: 1.25rem;
            margin: 0rem 4rem 9.375rem 4rem;
            border: 7px solid #252525;
            box-shadow: $sombra-negra;
            border-radius: $borde-redondeado;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transition: ease all .3s;

            @include laptop-l {
                margin: 0rem 1.25rem 9.375rem 1.25rem;
            }


            &:hover {
                border: 7px solid #484848;
                transform: scale(1.02);
            }
        }

        &--imagen {
            outline: 1px solid #252525;
            width: 25rem;
            height: 12rem;
        }

        &--fecha {
            font-size: 90%;
            color: $blanco-texto;
            margin: 0.625rem 0rem;
            align-self: flex-start;
        }

        &--titulo {
            font-size: 140%;
            color: $blanco;
            text-align: left;
            font-family: 'Roboto', sans-serif;
        }

        &--parrafo {
            margin: 0.625rem 0rem;
            text-align: left;
        }
    }
}

// About Section
.about {
    border-top: $borde-blanco;
    min-height: 100vh;
    padding: 9.375rem 0rem;
    display: flex;
    box-shadow: $sombra-negra;

    @include laptop-l {
        flex-wrap: wrap;
    }
    justify-content: space-around;
    background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(17, 17, 17, 0.2), rgba(17, 17, 17, 1)),
    url(../img/header-bg2.jpg);
    background-size: cover;
    background-position: center;
    &__text {
        width: 42rem;
        margin: 0rem 6rem;
        &--heading {
            margin-bottom: 3.125rem;
            text-align: center
        }
        &--span {
            @include borde-h2;
        }

        &--descripcion {
            font-family: 'Roboto', sans-serif;
            font-size: 150%;
        }
        
    }

    &__img {
        margin-right: 6rem;
        width: 33rem;
        height: 38rem;
        box-shadow: $sombra-negra;
        outline: $borde-blanco-2;
        transition: ease all .3s;

        @include laptop-l {
            width: 29rem;
            height: 35rem;
        }

        &:hover {
            animation: pulse;
            animation-duration: 1s;
        }
    }
}

// Contact Section

.contact {
    border-top: $borde-blanco-2;
    text-align: center;
    padding-bottom: 9.375rem;
    background-image: linear-gradient(rgba(45, 45, 45, 0.8), rgba(45, 45, 45, 0.6), rgba(45, 45, 45, 0.8)),
    url(../img/contact-bg.jpg);
    background-position: center;
    background-size: cover;
    &__heading {
        margin-top: $margin-titulo;
        margin-bottom: 6.25rem;

        &--span {
            @include borde-h2;
        }
    }

    &__form {
        text-align: left;
        width: 60%;
        margin: 0 auto;

        &--nombre,
        &--email,
        &--pais,
        &--textarea {
            width: 100%;
            padding: 0.313rem;
            border-radius: $borde-redondeado;
            border: $borde-blanco-2;
            resize: none;
            color: $blanco-texto;
            background: rgba(14, 14, 14, .8);
        }

        &--newsletter {
            margin: 0.625rem 0.313rem 0.625rem 0rem;
        }

        &--enviar {
            padding: 0.625rem;
            background: rgba(14, 14, 14, .8);
        }
    }
}