@mixin container-section($height: 80vh) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: $height;
}

@mixin borde-h2 {
    border-bottom: $borde-blanco;
    padding-bottom: $padding-titulo;
}

@mixin box-sections {
    background-color: rgba(20, 20, 20, .7);
    position: relative;
    overflow: hidden;
    min-height: 65vh;
    width: 70vw;
    padding: 1.25rem;
    border: $borde-negro;
    box-shadow: $sombra-negra;
    animation: zoomInUp;
    animation-duration: .8s;
}

@mixin filtro-elementos {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: ease height .3s;
}

@mixin gear-items($width, $height) {
    margin: 30px 10px 0px 0px;
    width: $width;
    height: $height;
    opacity: .6;
    transition: ease all .3s;
}