@import "./variables";
@import "./responsive";

.header {
    background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .5)),
    url(../img/header-bg2.jpg);
    background-size: cover;
    border-bottom: 0.156rem solid $blanco;
    display: flex;
    justify-content: center;
    box-shadow: $sombra-negra;
    &__navegacion {
        width: 50vw;
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.313rem 0;

        &--logoimg {
            width: 3.28rem;
            height: 3.55rem;
            margin-right: 5rem;

            @include laptop-l {
                height: 3rem;
                margin-right: 3rem;
            }
        }

        &--social {
            margin-bottom: 0.313rem;
            transition: ease all .3s;

            &:hover {
                transform: scale(1.15);
                color: $amarillo;
            }
        }

        &--social-box {
            display: flex;
            @include laptop-l {
                width: 15vw;
            }
        }

        &--icon {
            font-size: 200%;
            margin-left: 1.25rem;
            color: $blanco;
        }

        &--menu {
            width: 10vw;
            text-align: left;
            z-index: 999;
            font-size: 80%;

            @include laptop-l {
                width: 12vw;
            }
        }

        &--btn-menu {
            padding: 0.938rem 1.875rem;
            color: $blanco;
            background: none;
            border: none;
            box-shadow: none;
            cursor: pointer;
            transition: ease all .3s;

            &:hover {
                background: $amarillo;
                box-shadow: $sombra-negra;
                color: $gris-oscuro;
                border-radius: $borde-redondeado;
            }
        }
        &--menu-text {
            font-size: 140%;
            letter-spacing: 1px;
        }

        &--item-menu {
            position: relative;
        }
        
        // Sub Menu

        &--submenu {
            position: absolute;
            background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .6)),
            url(../img/header-bg2.jpg);
            background-position: center;
            width: 90%;
            visibility: hidden;
            opacity: 0;
            z-index: 999;
            box-shadow: $sombra-negra;
            font-size: 150%;
            text-align: left;
            transition: ease all .3s;
        }

        &--link-submenu {
            display: block;
            padding: 0.813rem;
            color: $blanco;
            transition: ease all .2s;
            
            &:hover {
                background: $amarillo;
                box-shadow: $sombra-negra;
                transform: scale(1.05);
                border-radius: $borde-redondeado;
                color: $gris-oscuro;
            }
        }

        &--item-menu:hover &--submenu {
            visibility: visible;
            opacity: 1;
        }
    }

    // Sticky Nav, se activa con JS
    .sticky-nav {
        position: fixed;
        background-color: rgba(14, 14, 14, .9);
        width: 100vw;
        margin: 0;
        z-index: 999;
        border-bottom: $borde-blanco;
        box-shadow: $sombra-negra;

        .header__navegacion--menu {
            margin-right: 13vw;
        }

        .header__navegacion--social {
            display: none;
        }

        .header__navegacion--logoimg {
            margin-right: 55.5vw;
            margin-bottom: 0.313rem;
            height: 2.2rem;
            width: 1.875rem;
        }
    }

}

