@import "./variables";
@import "./mixins";

// Media Queries
@mixin laptop-l {
    @media only screen and (max-width: 1440px) {
        @content;
    }
}


@media all and (max-width: 1024px) {
    body {
        font-size: 12px;
    }

    // Navigation
    .header__navegacion {
        width: 70vw;

        &--social-box {
            flex-wrap: wrap;
            width: 30vw;
        }

        &--logoimg {
            height: 3rem;
            margin-right: 8rem;
        }

        &--menu {
            
            width: 15vw;
        }

        &--menu-text {
            display: none;
        }

    }

   // Noticas Section Index
   .noticias-index {
       &__container {

           &--box {
               margin: 0rem 1.25rem 6.25rem 1.25rem;
               height: 28rem;
           }
       }
   }

    // About
    .about {

        &__img {
            width: 26rem;
            height: 30rem;
        }
    }


}

@media all and (max-width: 768px) {
    body {
        font-size: 10px;
    }

    p,
    label {
        font-size: 14px;
    }

    // Navigation
    .header__navegacion {

        &--social-box {
            width: 18vw;
        }

        &--icon {
            font-size: 180%;
        }

        &--logoimg {
            width: 2.49rem;
            height: 2.7rem;
            margin-right: 2.8rem;
        }

        &--btn-menu {
            font-size: 130%;
        }
        &--submenu {
            width: 17.8vw;
        }

    }


    // About
    .about {

        &__img {
            margin: 0;
            width: 20rem;
            height: 22rem;
        }
    }

    // Discografia
    .discografia__box {
        &--input {
            font-size: 160%;
        }
    }

    // Gear
    .gear__box {

        &--marcas-logo {
            height: 12vh;
            width: 14vw;
        }

        &--guitarras {
            @include gear-items(27rem, 9rem);
            margin: 30px 0px 0px 0px;
        }

        &--amps {
            @include gear-items(27rem, 12rem);
        }

        &--pickups {
            @include gear-items(25rem, 16rem);
        }

        &--pedals {
            @include gear-items(11rem, 17rem);
        }

        &--pedals-xl {
            @include gear-items(27rem, 18rem);
        }
    }

    // Galeria
    .galeria__box {
        width: 90vw;
        &--container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}


@media only screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }

    p,
    label {
        font-size: 14px;
    }

    // Navigation
    .header__navegacion {
        width: 100vw;

        &--social-box {
            width: 30vw;
        }

        &--icon {
            font-size: 180%;
            margin: 0.875 0.875rem;
        }

        &--logoimg {
            width: 2.49rem;
            height: 2.7rem;
            margin-right: 1rem;
        }

        &--btn-menu {
            padding: 0.938rem 0.938rem;
            font-size: 130%;
        }

        &--icon-menu {
            margin: 0;
        }

        &--menu {
            margin-right: 2rem;
        }

        &--submenu {
            width: 5.15rem;
            font-size: 170%;
        }

    }

    
    // Hero Section
        .encabezado {
            &__box {
            &--titulo {
                font-size: 200%;
                display: block;
                text-align: center;
                }
            }
        }

    // Noticias Section Index
    .noticias-index {

        &__heading {
            margin-top: 6.25rem;
        }
        &__container {

            &--box {
                margin: 0rem 1.25rem 6.25rem 1.25rem;
                width: 23rem;
                height: 29rem;
            }

            &--imagen {
                width: 20rem;
                height: 11rem;
            }
        }
    }

    // About
    .about {
        padding: 6.25rem 0rem;

        &__text {
            margin: 1.25rem 1.25rem;
        }

        &__img {
            width: 18rem;
            height: 22rem;
        }
    }

.contact {
    padding-bottom: 6.25rem;

    &__heading {
        margin-top: 6.25rem;
        margin-bottom: 6.25rem;
        }

    }

    // Discografia
    .discografia__box {
        &--figure {
            margin: 10px 0px;
        }

        &--imagen {
            width: 17rem;
            height: 17rem;
        }
    }

    // Gear
    .gear__box {
        &--marcas-logo {
            height: 10vh;
            width: 26vw;
        }

        &--guitarras {
            @include gear-items(20rem, 7rem);
        }

        &--amps {
            @include gear-items(20rem, 10rem);
        }

        &--pickups {
            @include gear-items(20rem, 11rem);
        }

        &--pedals {
            @include gear-items(9rem, 13rem);
        }

        &--pedals-xl {
            @include gear-items(18rem, 13rem);
        }
    }

    // Footer
    .pie {

        &__logo {
            height: 2rem;
            margin-right: 5vw;
        }
    }
}
