/* Media Queries*/
@media only screen and (max-width: 1440px) {
    body {
        font-size: 14px;
    }

    /* Navigation */
    .header__navegacion {

        &--social-box {
            width: 15vw;
        }

        &--logoimg {
            height: 3rem;
            margin-right: 5.9rem;
        }
        &--menu {
            width: 12vw;
        }
        
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 13px;
    }

    /* Navigation */
    .header__navegacion {

        &--logoimg {
            height: 3rem;
            margin-right: 4.9rem;
        }

        &--menu {
            width: 14vw;
        }

    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 1024px) {
    body {
        font-size: 12px;
    }

    /* Navigation */
    .header__navegacion {

        &--social-box {
            width: 18vw;
        }


        &--logoimg {
            height: 3rem;
            margin-right: 3.6rem;
        }

        &--menu {
            width: 15vw;
        }

        &--menu-text {
            display: none;
        }

    }

    /* Gear Section */
    .gear-guitarras-imagen {
        width: 32rem;
        height: 9rem;
    }

    .gear-amps-imagen {
        width: 30rem;
    }

    .gear-pickups-imagen {
        width: 25rem;
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 768px) {
    body {
        font-size: 10px;
    }

    p,
    label {
        font-size: 14px;
    }

    /* Navigation */
    .header__navegacion {

        &--social-box {
            width: 21vw;
        }

        &--icon {
            font-size: 180%;
        }


        &--logoimg {
            height: 2.7rem;
            margin-right: 2.8rem;
        }

        &--submenu {
            width: 17.8vw;
        }

    }

    /* Noticias Section*/

    .noticia-imagen {
        height: 30vh;
        width: 50vw;
    }

    .noticia-video {
        height: 30vh;
        width: 50vw;
    }

    /* Gear Section */
    .gear-guitarras-imagen {
        width: 20rem;
        height: 7rem;
    }

    .gear-amps-imagen {
        width: 20rem;
        height: 10rem;
    }

    .gear-pickups-imagen {
        width: 16rem;
        height: 16rem;
    }

    .gear-pedals-imagen-xl {
        width: 20rem;
        height: 15rem;
    }

    /* Discografia Section*/
    .discografia-imagen {
        width: 16rem;
        height: 16rem;
        margin: 10px 10px 0px 0px;
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (max-width: 480px) {

    /* Home */
    .titulo {
        font-size: 200%;
        display: block;
        text-align: center;
    }

    body {
        font-size: 10px;
    }

    p,
    label {
        font-size: 14px;
    }

    /* Navigation */
    .header__navegacion {
        width: 80vw;

        &--social-box {
            width: 30vw;
        }

        &--icon {
            font-size: 180%;
        }
        

        &--menu {
            width: 19vw;
        }

        &--submenu {
            width: 25vw;
            font-size: 130%;
        }

    }
    
    // Hero Section
        .encabezado {
            &__box {
                background-position: center;
            &--titulo {
                font-size: 200%;
                display: block;
                text-align: center;
                }
            }
        }

    // Noticias Section Index

    .noticias-index {

        &__container {
            justify-content: center;

            &--box {
                background-color: #121212;
                width: 23rem;
                height: 30rem;
                padding: 20px;
                margin-left: 3vw;
                margin-right: 3vw;
            }

            &--imagen {
                outline: 1px solid #252525;
                width: 20rem;
                height: 11rem;
            }
        }
    }


    /* Gear Section */
    .gear-text h3 {
        font-size: 115%;
    }

    .gear-input {
        font-size: 185%;
    }

    .gear-text img {
        height: 10vh;
        width: 22vw;
    }

    .gear-guitarras-imagen {
        width: 20rem;
        height: 7rem;
    }

    .gear-amps-imagen {
        width: 18rem;
        height: 10rem;
    }

    .gear-pickups-imagen {
        width: 13rem;
        height: 13rem;
    }

    .gear-pedals-imagen {
        width: 10rem;
        height: 13rem;
    }

    .gear-pedals-imagen-xl {
        width: 16rem;
        height: 10rem;
    }

    /* Noticias Section*/

    .noticia-imagen {
        height: 30vh;
        width: 50vw;
    }

    .noticia-video {
        height: 30vh;
        width: 50vw;
    }


    /* Discografia Section*/
    .discografia-input {
        font-size: 150%;
    }

    .discografia-imagen {
        width: 16rem;
        height: 16rem;
        margin: 10px 10px 0px 0px;
    }

    .logo-footer {
        height: 30px;
        margin-right: 0vw;
    }

    /* Galeria */
    .galeria-container {
        grid-template-columns: repeat(1, 1fr);
    }

    // Footer
    .pie {
        &__logo {
            height: 2rem;
            margin-right: 0;
        }
    }
}
