@import "./variables";
@import "./mixins";

// Media Queries
@mixin laptop {
    @media only screen and (max-width: 1440px) {
        @content;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 13px;
    }

    // Navigation
    .header__navegacion {

        &--logoimg {
            height: 3rem;
            margin-right: 4.9rem;
        }

        &--menu {
            width: 14vw;
        }

    }


}

@media all and (max-width: 1024px) {
    body {
        font-size: 12px;
    }

    // Navigation
    .header__navegacion {

        &--social-box {
            width: 18vw;
        }

        &--logoimg {
            height: 3rem;
            margin-right: 3.6rem;
        }

        &--menu {
            width: 15vw;
        }

        &--menu-text {
            display: none;
        }

    }

    // About
    .about {

        &__img {
            width: 26rem;
            height: 30rem;
        }
    }


}

@media all and (max-width: 768px) {
    body {
        font-size: 10px;
    }

    p,
    label {
        font-size: 14px;
    }

    // Navigation
    .header__navegacion {

        &--social-box {
            width: 21vw;
        }

        &--icon {
            font-size: 180%;
        }

        &--logoimg {
            width: 2.49rem;
            height: 2.7rem;
            margin-right: 2.8rem;
        }

        &--btn-menu {
            font-size: 130%;
        }
        &--submenu {
            width: 17.8vw;
        }

    }

    // About
    .about {

        &__img {
            margin: 0;
            width: 20rem;
            height: 22rem;
        }
    }

    // Discografia
    .discografia__box {
        &--input {
            font-size: 160%;
        }
    }

    // Gear
    .gear__box {

        &--marcas-logo {
            height: 12vh;
            width: 14vw;
        }

        &--guitarras {
            @include gear-items(27rem, 9rem);
            margin: 30px 0px 0px 0px;
        }

        &--amps {
            @include gear-items(27rem, 12rem);
        }

        &--pickups {
            @include gear-items(25rem, 16rem);
        }

        &--pedals {
            @include gear-items(11rem, 17rem);
        }

        &--pedals-xl {
            @include gear-items(27rem, 18rem);
        }
    }

    // Galeria
    .galeria__box {
        width: 90vw;
        &--container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}


@media only screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }

    p,
    label {
        font-size: 14px;
    }

    // Navigation
    .header__navegacion {
        width: 80vw;

        &--social-box {
            width: 30vw;
        }

        &--icon {
            font-size: 180%;
        }

        &--btn-menu {
            padding: 15px 30px;
            font-size: 130%;
        }

        &--icon-menu {
            margin: 0;
        }

        &--menu {
            width: 15vw;
        }

        &--submenu {
            width: 25vw;
            font-size: 170%;
        }

    }

    // About
    .about {

        &__img {
            width: 16rem;
            height: 18rem;
        }
    }
    
    // Hero Section
        .encabezado {
            &__box {
                background-position: center;
            &--titulo {
                font-size: 200%;
                display: block;
                text-align: center;
                }
            }
        }

    // Noticias Section Index
    .noticias-index {
        &__container {
            justify-content: center;

            &--box {
                width: 23rem;
                height: 29rem;
            }

            &--imagen {
                width: 20rem;
                height: 11rem;
            }
        }
    }

    // Discografia
    .discografia__box {
        &--figure {
            margin: 10px 0px;
        }

        &--imagen {
            width: 17rem;
            height: 17rem;
        }
    }

    // Gear
    .gear__box {
        &--marcas-logo {
            height: 10vh;
            width: 26vw;
        }

        &--guitarras {
            @include gear-items(20rem, 7rem);
        }

        &--amps {
            @include gear-items(20rem, 10rem);
        }

        &--pickups {
            @include gear-items(20rem, 11rem);
        }

        &--pedals {
            @include gear-items(9rem, 13rem);
        }

        &--pedals-xl {
            @include gear-items(18rem, 13rem);
        }
    }

    // Footer
    .pie {

        &__logo {
            height: 2rem;
            margin-right: 5vw;
        }
    }
}
