@import "./variables";
@import "./mixins";

// Noticias
.noticias {
    @include container-section;
    &__box {
        @include box-sections;

        &--span {
            @extend .noticias-index__heading__span;
        }

        &--heading{
            margin-bottom: 3.75rem;
        }

        &--titulo-noticia {
            padding-top: 3.75rem;
            margin-bottom: 1.25rem;
            font-size: 250%;
            text-align: center;
        }

        &--fecha {
            margin: 1.25rem;
            font-size: 110%;
            color: #afa8a8;
        }

        &--imagen {
            margin: 1.25rem;
            height: 40vh;
            width: 40vw;
        }

        &--parrafo {
            margin: 1.25rem;
            font-size: 120%;
            color: #afa8a8;
        }

        &--video {
            margin: 1.25rem;
            height: 40vh;
            width: 40vw;
            text-align: center;
        }
    }
}

// Tour
.tour {
    @include container-section;
    &__box {
        @include box-sections;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            @extend .noticias-index__heading__span;
        }
    }
    
}

// Discografia
.discografia {
    @include container-section;
    &__box {
        @include box-sections;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            @extend .noticias-index__heading__span;
        }

        &--categoria {
            font-size: 130%;
            margin-top: 2.5rem;
            text-align: center;
        }

        &--input {
            cursor: pointer;
            font-size: 125%;
            margin: 5px;
        }

        #todo:checked~.todo,
        #megadeth:checked~.megadeth,
        #solista:checked~.solista,
        #cacophony:checked~.cacophony,
        #hawaii:checked~.hawaii,
        &--input:hover {
            color: #dba520;
            transition: ease all .3s;
        }


        #todo,
        #solista,
        #megadeth,
        #cacophony,
        #hawaii {
            opacity: 0;
        }

        #megadeth:checked~&--albumes .mf,
        #megadeth:checked~&--albumes .hawaii,
        #megadeth:checked~&--albumes .cacophony {
            @include filtro-elementos;
        }

        #solista:checked~&--albumes .megadeth,
        #solista:checked~&--albumes .hawaii,
        #solista:checked~&--albumes .cacophony {
            @include filtro-elementos;
        }

        #cacophony:checked~&--albumes .megadeth,
        #cacophony:checked~&--albumes .hawaii,
        #cacophony:checked~&--albumes .mf {
            @include filtro-elementos;
        }

        #hawaii:checked~&--albumes .megadeth,
        #hawaii:checked~&--albumes .cacophony,
        #hawaii:checked~&--albumes .mf {
            @include filtro-elementos;
        }

        &--albumes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &--imagen {
            margin: 30px 30px 0px 0px;
            width: 22rem;
            height: 22rem;
            opacity: .6;
            transition: ease all .3s;
            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }
}

// Galeria
.galeria {
    @include container-section;
    &__box {
        @include box-sections;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            @extend .noticias-index__heading__span;
        }

        &--container {
            width: 100%;
            margin: 3.125rem auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            grid-gap: 10px;
        }

        &--imagen-container {
            height: 18.75rem;
            overflow: hidden;
        }

        &--img {
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
            transform: scale(1);
            transition: ease all .3s;

            &:hover {
                filter: grayscale(0%);
                transform: scale(1.09);
            }
        }
    }

}

// Videos
.videos {
    @include container-section;
    &__box {
        @include box-sections;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            @extend .noticias-index__heading__span;
        }

        &--parrafo {
            margin-top: 2.5rem;
        }

        &--container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &--video {
            height: 50vh;
            width: 70vw;
            margin: 10px;
        }
    }
}

// Gear
.gear {
    @include container-section;
    &__box {
        @include box-sections;
        
        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            @extend .noticias-index__heading__span;
            margin-bottom: 0.625rem;
        }

        &--marcas {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &--marcas-logo {
            filter: invert(100%);
            height: 10vh;
            width: 12vw;
        }

        &--sub-titulo {
            color: $amarillo;
            font-size: 130%;
            margin: 2.5rem 1.25rem;
            font-family: 'Roboto', sans-serif;
        }

        &--categoria {
            margin-top: 2.5rem;
            text-align: left;
        }

        &--input {
            font-size: 180%;
            cursor: pointer;
            transition: ease all .3s;

            &:hover {
                color: $amarillo;
            }
        }

        #guitarras,
        #amps,
        #pedales,
        #pickups {
            opacity: 0;
        }

        #guitarras:checked~.guitarras,
        #amps:checked~.amps,
        #pedales:checked~.pedales,
        #pickups:checked~.pickups {
            color: $amarillo;
        }

        #guitarras:checked~&--img-container .amps,
        #guitarras:checked~&--img-container .pickups,
        #guitarras:checked~&--img-container .pedales {
            @include filtro-elementos;
        }

        #amps:checked~&--img-container .gt,
        #amps:checked~&--img-container .pickups,
        #amps:checked~&--img-container .pedales {
            @include filtro-elementos;
        }

        #pickups:checked~&--img-container .gt,
        #pickups:checked~&--img-container .amps,
        #pickups:checked~&--img-container .pedales {
            @include filtro-elementos;
        }

        #pedales:checked~&--img-container .gt,
        #pedales:checked~&--img-container .amps,
        #pedales:checked~&--img-container .pickups {
            @include filtro-elementos;
        }
        
        &--img-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        &--guitarras {
            @include gear-items(40rem, 12rem);
        }

        &--amps {
            @include gear-items(35rem, 12rem);
        }

        &--pickups {
            @include gear-items(35rem, 20rem);
        }

        &--pedals {
            @include gear-items(13rem, 20rem);
        }

        &--pedals-xl {
            @include gear-items(30rem, 19.5rem);
        }

        &--over:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
}