@import "./variables";

// Noticias
.noticias {
    min-height: 79.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    &__box {
        background-color: rgba(20, 20, 20, .7);
        width: 70vw;
        padding: 1.25rem;
        border: $borde-negro;
        box-shadow: $sombra-negra;
        animation: zoomInUp;
        animation-duration: .8s;

        &--span {
            border-bottom: $borde-blanco;
            padding-bottom: $padding-titulo;
        }

        &--heading{
            margin-bottom: 3.75rem;
        }

        &--titulo-noticia {
            padding-top: 3.75rem;
            margin-bottom: 1.25rem;
            font-size: 250%;
            text-align: center;
        }

        &--fecha {
            margin: 1.25rem;
            font-size: 110%;
            color: #afa8a8;
        }

        &--imagen {
            margin: 1.25rem;
            height: 40vh;
            width: 40vw;
        }

        &--parrafo {
            margin: 1.25rem;
            font-size: 120%;
            color: #afa8a8;
        }

        &--video {
            margin: 1.25rem;
            height: 40vh;
            width: 40vw;
            text-align: center;
        }
    }
}

// Tour
.tour {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 79.6vh;

    &__box {
        background-color: rgba(20, 20, 20, .7);
        width: 70vw;
        padding: 1.25rem;
        border: $borde-negro;
        box-shadow: $sombra-negra;
        position: relative;
        animation: zoomInUp;
        animation-duration: .8s;
        min-height: 70vh;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            border-bottom: $borde-blanco;
            padding-bottom: $padding-titulo;
        }
    }
    
}

// Discografia
.discografia {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 79.6vh;

    &__box {
        background-color: rgba(20, 20, 20, .7);
        width: 70vw;
        padding: 1.25rem;
        border: $borde-negro;
        box-shadow: $sombra-negra;
        animation: zoomInUp;
        animation-duration: .8s;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            border-bottom: $borde-blanco;
            padding-bottom: $padding-titulo;
        }

        &--categoria {
            font-size: 130%;
            margin-top: 2.5rem;
            text-align: center;
        }

        &--input {
            cursor: pointer;
            font-size: 125%;
            margin: 5px;
        }

        #todo:checked~.todo,
        #megadeth:checked~.megadeth,
        #solista:checked~.solista,
        #cacophony:checked~.cacophony,
        #hawaii:checked~.hawaii,
        &--input:hover {
            color: #dba520;
            transition: ease all .3s;
        }


        #todo,
        #solista,
        #megadeth,
        #cacophony,
        #hawaii {
            opacity: 0;
        }

        #megadeth:checked~&--albumes .mf,
        #megadeth:checked~&--albumes .hawaii,
        #megadeth:checked~&--albumes .cacophony {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: ease height .3s;
        }

        #solista:checked~&--albumes .megadeth,
        #solista:checked~&--albumes .hawaii,
        #solista:checked~&--albumes .cacophony {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: ease height .3s;
        }

        #cacophony:checked~&--albumes .megadeth,
        #cacophony:checked~&--albumes .hawaii,
        #cacophony:checked~&--albumes .mf {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: ease height .3s;
        }

        #hawaii:checked~&--albumes .megadeth,
        #hawaii:checked~&--albumes .cacophony,
        #hawaii:checked~&--albumes .mf {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: ease height .3s;
        }


        &--albumes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &--imagen {
            margin: 30px 30px 0px 0px;
            width: 22rem;
            height: 22rem;
            opacity: .6;
            transition: ease all .3s;
            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }
}

// Galeria
.galeria {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 79.6vh;

    &__box {
        background-color: rgba(20, 20, 20, .7);
        width: 70vw;
        padding: 1.25rem;
        border: $borde-negro;
        box-shadow: $sombra-negra;
        position: relative;
        animation: zoomInUp;
        animation-duration: .8s;
        min-height: 70vh;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            border-bottom: $borde-blanco;
            padding-bottom: $padding-titulo;
        }

        &--container {
            width: 100%;
            margin: 3.125rem auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            grid-gap: 10px;
        }

        &--imagen-container {
            height: 18.75rem;
            overflow: hidden;
        }

        &--img {
            width: 100%;
            height: 100%;
            filter: grayscale(100%);
            transform: scale(1);
            transition: ease all .3s;

            &:hover {
                filter: grayscale(0%);
                transform: scale(1.09);
            }
        }
    }

}

// Videos
.videos {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 79.6vh;

    &__box {
        background-color: rgba(20, 20, 20, .7);
        width: 70vw;
        padding: 1.25rem;
        border: $borde-negro;
        box-shadow: $sombra-negra;
        position: relative;
        animation: zoomInUp;
        animation-duration: .8s;
        min-height: 70vh;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            border-bottom: $borde-blanco;
            padding-bottom: $padding-titulo;
        }

        &--parrafo {
            margin-top: 2.5rem;
        }

        &--container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        &--video {
            height: 50vh;
            width: 70vw;
            margin: 10px;
        }
    }
}

// Gear
.gear {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 79.6vh;
    
    &__box {
        background-color: rgba(20, 20, 20, .7);
        width: 70vw;
        padding: 20px;
        border: $borde-negro;
        box-shadow: $sombra-negra;
        animation: zoomInUp;
        animation-duration: .8s;

        &--heading {
            margin-bottom: 2.5rem;
        }

        &--span {
            border-bottom: $borde-blanco;
            padding-bottom: $padding-titulo;
            margin-bottom: 0.625rem;
        }

        &--marcas {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &--marcas-logo {
            filter: invert(100%);
            height: 10vh;
            width: 12vw;
        }

        &--sub-titulo {
            color: $amarillo;
            font-size: 130%;
            margin: 2.5rem 1.25rem;
            font-family: 'Roboto', sans-serif;
        }

        &--categoria {
            margin-top: 2.5rem;
            text-align: left;
        }

        &--input {
            font-size: 180%;
            cursor: pointer;
            transition: ease all .3s;

            &:hover {
                color: $amarillo;
            }
        }

        #guitarras,
        #amps,
        #pedales,
        #pickups {
            opacity: 0;
        }

        #guitarras:checked~.guitarras,
        #amps:checked~.amps,
        #pedales:checked~.pedales,
        #pickups:checked~.pickups {
            color: $amarillo;
        }

        #guitarras:checked~&--img-container .amps,
        #guitarras:checked~&--img-container .pickups,
        #guitarras:checked~&--img-container .pedales {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: ease height .3s;
        }

        #amps:checked~&--img-container .gt,
        #amps:checked~&--img-container .pickups,
        #amps:checked~&--img-container .pedales {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: ease height .3s;
        }

        #pickups:checked~&--img-container .gt,
        #pickups:checked~&--img-container .amps,
        #pickups:checked~&--img-container .pedales {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: ease height .3s;
        }

        #pedales:checked~&--img-container .gt,
        #pedales:checked~&--img-container .amps,
        #pedales:checked~&--img-container .pickups {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: ease height .3s;
        }
        
        &--img-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        &--guitarras {
            margin: 30px 10px 0px 0px;
            width: 40rem;
            height: 12rem;
            opacity: .6;
            transition: ease all .3s;
        }

        &--amps {
            margin: 30px 10px 0px 0px;
            width: 35rem;
            height: 12rem;
            opacity: .6;
            transition: ease all .3s;
        }

        &--pickups {
            margin: 30px 10px 0px 0px;
            width: 35rem;
            height: 20rem;
            opacity: .6;
            transition: ease all .3s;
        }

        &--pedals {
            margin: 30px 10px 0px 0px;
            width: 13rem;
            height: 20rem;
            opacity: .6;
            transition: ease all .3s;
        }

        &--pedals-xl {
            margin: 30px 10px 0px 0px;
            width: 30rem;
            height: 19.5rem;
            opacity: .6;
            transition: ease all .3s;
        }

        &--over:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
}